body {
    background-image: url("weather.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:1000px;
    margin-top: 100px;
    position: relative;
    left: 700px;
    top: 80px;
    
  }
  .container {
    
    border-radius: 15px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    );
  }
  
  .title {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 15px;
  }
  #geolocation {
    font-family: "Lato", sans-serif;
    position: relative;
    left: 220px;
    top: 35px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  #search-city {
    font-family: "Lato", sans-serif;
    position: relative;
    left: 255px;
    width: 400px;
    font-size: 20px;
    border-radius: 5px;
  }
  
  #btn-value {
    font-family: "Roboto", sans-serif;
    width: auto;
    position: relative;
    left: 255px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
    background: #fff;
    color: #c15050;
  }
  
  button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .city {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 10px;
  }
  
  #date {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: relative;
    left: 400px;
  }
  
  #time {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: relative;
    left: 450px;
  }

  .icon{
    position: relative;
    left: 300px;
    top: 5px;
    font-size: 100px;

  }
  
  #temp {
    position: relative;
    left: 400px;
    top: -150px;
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 145px;
    
  }
  
  .units {
    font-size: 30px;
    position: relative;
    top: -300px;
    left: 600px;
    font-weight: 100;
    color: #fff;
    
  }

 
  
  li {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1;
    list-style: none;
    position: relative;
    top: -300px;
    right: -100px;
  }
  
  #atmosphere {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    position: relative;
    left: 460px;
 }

 .weather-temperature .active{
   color: #fff;
   cursor: default;
 }

 .weather-temperature .active:hover{
  text-decoration: none;

}

#celsius-link{
  text-decoration: none;
}

#fahrenheit-link{
  text-decoration: none;

}
small{
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.weather-forecast{ 
  color: #fff;  
  text-align: center;
  position: relative;
  top: -200px;
  
  
}